.container {
  position: relative;
  display: flex;

  width: 100%;
  height: 90vh;
  z-index: 1;
}

.container h3 {
  position: absolute;
  font-family: "Jacques Francois", serif;
  color: #f9eed9;
  font-size: 100px;
  font-weight: 100;
  padding-left: 50px;
  text-shadow: 4px 4px 4px #4a2c15;
}

.container button {
  position: absolute;
  left: 50px;
  bottom: 100px;
  color: #4a2c15;
  font-size: 26px;
  font-weight: 700;
  background: linear-gradient(180deg, #f5ba42 0%, #c07e42 100%);
  border-radius: 20px;
  border: none;
  padding: 10px 24px;
  text-shadow: 1px 1px 1px rgba(74, 44, 21, 0.42);
}

.container button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: -1;
}
