.weblogo {
  display: flex;
  align-items: center;
}
.weblogo b {
  color: #ffe9bb;
  text-shadow: 1px 1px 1px rgba(74, 44, 21, 0.42);
}
.weblogo img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.weblogo img:hover {
  cursor: pointer;
}

.name h1 {
  padding: 0;
  margin: 0;
  color: #4a2c15;
  text-shadow: 1px 1px 1px rgba(74, 44, 21, 0.42);
}

.name p {
  padding: 0;
  margin: 0;
  color: #4a2c15;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(74, 44, 21, 0.42);
}
