.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://www.vistaresidences.com.ph/assets/filipino-food-celebration-ideas-_-condo-living-min.png");
  background-size: 100%;
  background-position: cover;
  padding: 40px;
  padding-bottom: 80px;
}

.container h2 {
  color: #ededed;
  font-size: 40px;
  margin: 40px;
}
