.container {
  display: flex;
  justify-content: center;
  gap: 200px;
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.container h2 {
  text-align: center;
  margin-top: 0;
}

.vision {
  border-style: solid;
  border-color: #4a2c15;
  padding: 20px;
  width: 500px;

  border-radius: 10px;

  transition: 1s;
}

.vision:hover {
  width: 600px;
  border-color: #f5ba42;
}

.mission {
  list-style: none;
  border-style: solid;
  border-color: #4a2c15;
  padding: 20px;
  width: 500px;

  border-radius: 10px;
}

.mission li {
  margin: 10px;
}
