.weblogo {
  display: flex;
  align-items: center;
}

.weblogo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.name {
  align-items: center;
}

.name h1 {
  padding: 0;
  margin: 0;
  color: #ffe9bb;
  text-shadow: 1px 1px 1px rgba(74, 44, 21, 0.42);
}

.name p {
  padding: 0;
  margin: 0;
  color: #4a2c15;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(74, 44, 21, 0.42);
}
